.DS_Store
ajax/.DS_Store
flask/.DS_Store
flask_mysql/.DS_Store
fundamentals/.DS_Store
mysql/.DS_Store
flask/flask_checklist.md
mysql/erd/world.mwb.bak
flask_mysql/crud/users_cr/templates/read_all.html
flask_mysql/crud/users_cr/templates/create.html
flask_mysql/crud/users_cr/static/css/bootstrap.css
