<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <title>Counter</title>
</head>
<body>
    <div class="container">
        <div>
            <h1 class="text-center">Counter</h1>
            <h3 class="text-center">{{ session['count'] }} time(s)</h3>
        </div>
        <div class="button-box text-center ">
            <form action="/plus2">
                <button class="btn btn-primary" id="button1">Increase Count by 2</button>
            </form>
            <form action="/destroy_session">
                <button class="btn btn-danger" id="button2">Reset Session</button>
            </form>
        </div>
    </div>
</body>
</html>