<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css')}}">
    <title>Checkerboard</title>
</head>
<body>
    <table>
    {% if num: %}
        {% for x in range(num): %}
        <tr>
            {% for y in range(num2): %}
            {% if x % 2 == 0: %}
                {% if y % 2 == 0: %}
                    <td class='color1'></td>
                {% else: %}
                    <td class='color2'></td>
                {% endif %}
            {% else: %}
            {% if y % 2 == 0: %}
                <td class='color2'></td>
            {% else: %}
                <td class='color1'></td>
            {% endif %}
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    {% endif %}
    </table>
</body>
</html>